.inter {
  font-family: "Inter", sans-serif;
}
/* shared class */ 
.titles{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.btn{
    border-radius: 10000px;
    padding: 14px 16px;
    color: white;
    font-weight: 600;
}
.description{
    color: white;
    margin-bottom: 28.8px;
    line-height: 20px;
    opacity: 0.8;
}



/* navbar design */
.navbar{
    background-color: #1A0B2E;
    margin: 0 auto;
    padding: 30px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu li{
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}




/* banner section */
#banner{
    margin: 0;
}
.banner{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.banner-container{
    margin: 101px auto;
    max-width: 660px;
}
.banner-circle{
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    max-width: 420px;
    width: 100%;
    max-height: 420px;
    height: 100%;
    background-position: center;
    margin: auto;
    margin-bottom: 40px;
    border: 1px solid #191245;
    border-radius: 200px; 
}
.banner-microphone{
    margin: 82px auto 97px;
    position: relative;
}
.banner-microphone .microphone {
    margin: 0 auto;
}
.banner-btn{
    background-color: #00FF88;
    border-radius: 10000px;
    padding: 9.6px 19.2px;
    font-size: 1.13rem;
    font-weight: 600;
    position: absolute;
    right: 50px;
    top: -70px;
}
.banner-description-container{
    text-align: center;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.buttons{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 427px;
    margin: 0 auto;
}
.spotify{
    display: flex;
    width: 100%;
    font-weight: 600;
    gap: 8px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
}
.subscribe{
    color: #00FF88;
    font-weight: 600;
    border: 1px solid #00FF88;
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
}
/* main section */
        /* about section */
.about {
    background-color: #1A0B2E;
    padding: 60px 200px 120px;
    text-align: center;
    }
.about-container{
    margin: 0 auto;
}
.about-title{
    margin-bottom: 16px;
}
.about-list{
    margin-top: 160px;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.about-list .about-items {
    text-align: center;
}
.about-list .about-items h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

/* card section */
.cards{
    background-color: #230E3D;
    margin: 0 auto;
    padding: 120px 240px;
    text-align: center;
}
.cards .card-title{
    margin-bottom: 40px;
}
.card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.audio{
    /* margin: auto 0; */
    grid-column: span 1;
    grid-row: span 2;
}
.mobile{
    grid-column: span 2;
    grid-row: span 1;
}
.community{
    grid-column: span 2;
    grid-row: span 1;
}
.interview{
    grid-column: span 2;
    grid-row: span 1;
}
.resource{
    grid-column: span 1;
    grid-row: span 1;
}

.card-item{
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    text-align: left;
}
.card-item h3{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-item p{
    color: white;    
    opacity: 0.8;
    line-height: 1.5rem;
}


/* feature section */
.feature{
    background-color: #1A0B2E;
    width: 100%;
    padding: 144px 240px;
}
.feature-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.feature-title{
    margin-bottom: 40px;
    text-align: center;
}
.feature-cards{
    display: grid;
    grid-template-columns: repeat(3,380px);
    gap: 36px;
}
.feature-item{
    background-color: #250D44;
    border-radius: 24px;
}
.about-card{
    margin: 24px;
}
.about-card h3{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
}
.about-card p{
    line-height: 28.8px;
}




/* responsive layout */
@media screen and (max-width:576px) {
    .nav-container .nav-menu, .btn{
        display: none;
    }
    .titles{
        font-size: 2rem;
    }
    .about{
        width: 100%;
        padding: 40px 20px;
    }


    .cards{
        width: 100%;
        padding: 0;
        padding: 40px 20px;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .card-item{
        border-radius: 24px;
    }


    .feature{
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }
    .feature-title{
        margin-bottom: 20px;
    }
    .feature-cards{
        grid-template-columns: repeat(1,1fr);
    }
}