.inter {
  font-family: "Inter", sans-serif;
}
/* shared class */ 
.titles{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.btn{
    border-radius: 10000px;
    padding: 14px 16px;
    color: white;
    font-weight: 600;
}
.description{
    color: white;
    margin-bottom: 28.8px;
    line-height: 20px;
    opacity: 0.8;
}



/* navbar design */
.navbar{
    background-color: #1A0B2E;
    margin: 0 auto;
    padding: 30px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu li{
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
.humberger{
    display: none;
}



/* banner section */
#banner{
    margin: 0;
}
.banner{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.banner-container{
    margin: 101px auto;
    max-width: 660px;
}
.banner-circle{
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 420px;
    width: 100%;
    background-position: center;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-microphone{
    max-width: 140px;
    margin: 90px auto;
}
.banner-btn{
    background-color: #00FF88;
    border-radius: 10000px;
    padding: 9.6px 19.2px;
    font-size: 1.13rem;
    font-weight: 600;
    position: absolute;
    right: 55px;
    top: 20px;
    animation-duration: 2.2s;
}
.banner-description-container{
    text-align: center;
}
.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}

.buttons{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 427px;
    margin: 0 auto;
}
.spotify{
    display: flex;
    width: 100%;
    font-weight: 600;
    gap: 8px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
}
.spotify{
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 0 #F7E93F;
  }
  50% {
    box-shadow: 0 0 15px #F7E93F;
  }
}

.subscribe{
    color: #00FF88;
    font-weight: 600;
    border: 1px solid #00FF88;
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
}

.subscribe {
  animation: pulsebtn 2s infinite;
}

@keyframes pulsebtn {
  0%, 100% {
    box-shadow: 0 0 0 #00FF88;
  }
  50% {
    box-shadow: 0 0 20px #00FF88;
  }
}




/* main section */
        /* about section */
.about {
    background-color: #1A0B2E;
    padding: 60px 200px 120px;
    text-align: center;
    }
.about-container{
    margin: 0 auto;
}
.about-title{
    margin-bottom: 16px;
}
.about-container .description{
    margin-bottom: 80px;
}
.about-container hr{
    color: white;
    opacity: 0.1;
    margin-bottom: 80px;
}
.about-list{
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.about-list .about-items {
    text-align: center;
}
.about-list .about-items h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

/* card section */
.cards{
    background-color: #230E3D;
    margin: 0 auto;
    padding: 120px 240px;
    text-align: center;
}
.cards .card-title{
    margin-bottom: 40px;
}
.card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.audio{
    /* margin: auto 0; */
    grid-column: span 1;
    grid-row: span 2;
}
.mobile{
    grid-column: span 2;
    grid-row: span 1;
}
.community{
    grid-column: span 2;
    grid-row: span 1;
}
.interview{
    grid-column: span 2;
    grid-row: span 1;
}
.resource{
    grid-column: span 1;
    grid-row: span 1;
}

.card-item{
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    text-align: left;
}
.card-item h3{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}
.card-item p{
    color: white;    
    opacity: 0.6;
    line-height: 1.5rem;
}


/* feature section */
.feature{
    width: 100%;
    padding: 144px 240px;
}
.feature-container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.feature-title{
    margin-bottom: 40px;
    text-align: center;
}
.feature-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap: 36px;
}
.feature-item{
    background-color: #250D44;
    border-radius: 24px;
}
.feature-item iframe{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 456px;
    height: 256px;
    width: 100%;
}
.about-card{
    margin: 29px;
}
.about-card h3{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
}
.about-card p{
    line-height: 28.8px;
    opacity: 0.6;
}

/* Host section */
.host{
    margin: 0;
    padding: 0;
    padding-bottom: 120px;
}
.host-container{
    max-width: 1440px;
    width: 100%;
    margin:0 auto;
}
.host-title {
    text-align: center;
    margin-bottom: 40px;
}
.host-card{
    background-color: #250D44;
    display: flex;
    gap: 29px;
    padding: 60px 48px;
    border-radius: 40px;
    justify-content: center;
    justify-items: center;
}
.card-title{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.card-description{
    margin-bottom: 16px;
    opacity: 0.6;
}
.host-icons{
    display: flex;
    gap: 9.6px;
    align-items: center;
}
.card-icon{
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 50%;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-icon img{
    width: 20px;
    height: 20px;
}


/* Footer section */
.footer{
    margin: 0;
    padding: 144px;
    background-image: url(../images/footer-bg.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.footer-container{
    max-width: 1632px;
    width: 100%;;
}
.footer-title{
    margin-bottom: 32px;
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    max-width: 660px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;
}
.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.footer-item img{
    max-width: 24px;
    width: 100%;
    max-height: 24px;
    height: 100%;
}
.footer-item p{
    font-weight: 500;
    color: white;
    opacity: 0.6;
    line-height: 19px;
}
.footer-comment{
    color: white;
    opacity: 0.6;
    line-height: 24px;
    text-align: center;
}






/* responsive layout */
@media screen and (max-width:576px) {

    .nav-container .nav-list, .nav-button{
        display: none;
    }
    .humberger{
        display: flex;
    }
    .nav-container{
        justify-content: space-between;
    }
    .navbar{
        padding: 20px 18px;
    }



    .banner{
        background-image: url(../images/bg-2.png);
    }
    .banner-container{
        margin: 40px 20px;
    }
    .banner-circle{
        margin-bottom: 24px;
    }
    .banner-microphone{
    max-width: 80px;
    margin: 65px auto;
    }
    .spotify{
        max-width: 230px;
    }
    .subscribe{
        max-width: 150px;
    }
    



    .titles{
        font-size: 2rem;
    }
    .about{
        width: 100%;
        padding: 40px 20px;
    }
    .about-list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.about-list .about-items h3{
    font-size: 2.5rem;
}


    .cards{
        width: 100%;
        padding: 0;
        padding: 40px 20px;
    }
    .card-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .card-item{
        border-radius: 24px;
    }


    .feature{
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }
    .feature-container{
        padding: 20px;
    }
    .feature-title{
        margin-bottom: 20px;
    }
    .feature-cards{
        grid-template-columns: repeat(1,1fr);
    }

    .host{
        padding-bottom: 40px;
    }
    .host-title{
        padding-top: 30px;
        margin-bottom: 24px;
    }
    .host-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }
    .host-img{
        max-width: 150px;
        max-height: 150px;
    }
    .card-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-description{
        text-align: center;
    }


    .footer{
        padding: 0;
    }
    .footer-container{
        padding: 40px 20px;
    }
    .footer-title{
        margin-bottom: 24px;
    }
    .footer-menu{
        gap: 16px;
        grid-template-columns: repeat(2,160px);
        justify-content: center;
        text-align: center;
    }
}